*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    font-size: 30px;
    color: white;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    top: 0px;
    position: fixed;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.35);
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
}

.active{
    color: #44b4e4;
}

body{
    min-height: 100vh;
    background: linear-gradient(45deg, #aa5d04, #2505d6, #0468ff);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Home Section */

#home {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#home-img{
    max-width: 800px;
    margin: 50px;
    margin-top: 20px;
    border-radius: 30px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.35);
    grid-area: 1/1/4/4;
}

#home-title{
    text-align: center;
    text-shadow: #72cada 0px 0px 15px;
    grid-area: 2/2/2/2;
    z-index: 1;
    padding: 20px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.35);
}

#home-title h1{
    font-size: 35px;
}

#home-title p{
    font-size: 20px;
    margin-top: 10px;
}

#home-btn, #search-btn, #favorites-btn{
    font-size: 50px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease;

}

#home-btn:hover, #search-btn:hover, #favorites-btn:hover{
    color: #44b4e4;
    transform: scale(1.1);
    text-shadow: #72cada 0px 0px 15px;
}


/* Search Section */

#search-icon{
    font-size: 30px;
    margin: 10px 15px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}

#search-icon:hover{
    color: #44b4e4;
    text-shadow: #72cada 0px 0px 15px;
}

#search-input{
    width: 100%;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
}
#search{
    max-width: 300px;
    margin: 20px;
    height: 50px;
    font-size: 18px;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    text-shadow: #72cada 0px 0px 15px;
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 30px;
    margin-top: 100px;
    color: white;
    border: 1px solid rgb(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.35);
}

#search-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#movies{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#missing{
    grid-area: 1/1/1/6;
    padding: 20px;
}

#missing-img{
    margin: 20px 0px 20px 0px;
    width: 100%;
    height: auto;
    border-radius: 30px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.35);
}

/* Favorites Section */

#favorites{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin-top: 100px;
}

/* Movie Cards */

.movie-card{
    position: relative;
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgb(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.35);
    border-radius: 20px;
    width: 100%;
    margin: 1rem;
}


.card-img-top {
    height: 300px;
    width: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.card-img-top img{
     height: auto;
     width: 100%;
}

footer{
    width: 100%;
    font-size: 20px;
    color: white;
    background: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: bottom;
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

body {
    background-size: 200% 200%;
    animation: gradient 15s ease infinite;
}